# Defining  a string

In [22]:
message = "This is a string"
print(f"String message is {message}")
print(f"The length of string message is {len(message)}")

String message is This is a string
The length of string message is 16

# Concatenating a string

In [91]:
string1 = 'String1'
string2 = 'String2'

# Printing with no space
print(string1+string2)

# Printing with space
print(string1, string2)

# Printing with a separator
print(string1, string2, sep='--')

# Printing with a newline added space
print(string1, string2, end='\n'*2)

# Checking if a new line was added
print('Checking')

# Printing with a sep equal to '/n'
print(string1, string2, sep='\n')

# Printing with tab whitespace
print('\t', string1, string2, end='\n'*2)

# Pretty example
print('Languages:\n\tPython\n\tJavascript\n\tR')

String1String2
String1 String2
String1--String2
String1 String2

Checking
String1
String2
	 String1 String2

Languages:
	Python
	Javascript
	R

# Changing the default print parameters for easy printing of mutiple lines

In [56]:
from functools import partial
myprint = partial(print, end='\n'*2, sep='\n')

In [59]:
print('Run 1', 'sentence 1')
print('Run 2', 'sentence 2')

Run 1 sentence 1
Run 2 sentence 2

In [58]:
myprint('Run 1', 'sentence 1')
myprint('Run 2', 'sentence 2')

Run 1
sentence 1

Run 2
sentence 2

# Tidy dict for demonstrating commands with comments

# Reversing a string

In [26]:
mystring = 'abcd'
print(mystring[::-1])

dcba

# Printing every alternate word

In [13]:
print(' '.join(message.split(' ')[::2]))
print(' '.join(message.split(' ')[1::2]))

This a
is string

# Printing a sentence in reverse order

In [31]:
sentence = 'Word1 Word2 Word3 Word4'
' '.join(sentence.split(' ')[::-1])

'Word4 Word3 Word2 Word1'

# Strings are an instance of the class str

In [18]:
isinstance('string', str)

True

# Various (useful) methods on the string

In [145]:
string1 = 'aBCdEf'
print('string1 is', string1)
print('lower', string1.lower())
print('upper', string1.upper())
print('title', string1.title())
print('capitalize', string1.capitalize())
print('casefold', string1.casefold(), end='\n'*2)
print(f'{string1} startswith  A?', string1.startswith('A'))
print(f'{string1} startswith  a?', string1.startswith('a'))
print(f'{string1} endswith  F?', string1.endswith('F'))
print(f'{string1} endswith  f?', string1.endswith('f'))

string1 is aBCdEf
lower abcdef
upper ABCDEF
title Abcdef
capitalize Abcdef
casefold abcdef

aBCdEf startswith  A? False
aBCdEf startswith  a? True
aBCdEf endswith  F? False
aBCdEf endswith  f? True

# strip() only removes leading and trailing white space

In [98]:
str_wspace = ' This is a string  '
print(f'Number of characters in str_wspace is {len(str_wspace)}')
str_strip = str_wspace.strip()
print(f'Number of characters in str_strip is {len(str_strip)}')
str_lstrip = str_wspace.lstrip()
print(f'Number of characters in str_lstrip is {len(str_lstrip)}')
str_rstrip = str_wspace.rstrip()
print(f'Number of characters in str_rstrip is {len(str_rstrip)}')

Number of characters in str_wspace is 19
Number of characters in str_strip is 16
Number of characters in str_lstrip is 18
Number of characters in str_rstrip is 17

# Remove all wspace in a string

In [103]:
print(str_wspace)

str_nospace = str_wspace.replace(' ', '')
print(str_nospace)

str_nospace = ''.join(str_wspace.split(' '))
print(str_nospace)

 This is a string
Thisisastring
Thisisastring

In [84]:
string2 = 'abcdef'
print('string2 is', string2)

if string1 == string2:
    print('string1 matches string2')
else:
    print('string1 does not match string2')
    
if string1.casefold() == string2.casefold():
    print('Characters in string1 match string2 and are in the same order')
else:
    print('Characters in string1 do not match string2 and are in the same order')

string1 is AbCdEf
lower abcdef
capitalize Abcdef
casefold abcdef

string2 is abcdef
string1 does not match string2
Characters in string1 match string2 and are in the same order

# Comparing strings

In [111]:
string1 = 'the same string'
string2 = 'the same string'

In [109]:
print('string1 is string2', string1 is string2)
print('string1 == string2', string1 == string2)

string1 is string2 False
string1 == string2 True

# The result is different with numbers

In [110]:
num1 = 5
num2 = 5

In [112]:
print('num1 is num2', num1 is num2)
print('num1 == num2', num1 == num2)

num1 is num2 True
num1 == num2 True

# Using escape characters in string

In [113]:
message = 'The do's and don'ts in python'

SyntaxError: invalid syntax (<ipython-input-113-e04ebf207872>, line 1)

In [115]:
message = "The do's and dont's in python"
print(message)

The do's and dont's in python

In [117]:
message = 'The do\'s and dont\'s in python'
print(message)

The do's and dont's in python

In [118]:
message = '\t is a tab character in python and \n is a newline'
print(message)

	 is a tab character in python and
 is a newline

In [120]:
message = '\\t is a tab character in python and \\n is a newline'
print(message)

\t is a tab character in python and \n is a newline

In [137]:
really_long_string = 'This is the 1st sentence, ' \
                     'This is the 2nd sentence, ' \
                     'This is the 3rd sentence.'
print(really_long_string)

This is the 1st sentence, This is the 2nd sentence, This is the 3rd sentence.

In [138]:
really_long_string = 'This is the 1st sentence,\n' \
                     'This is the 2nd sentence,\n' \
                     'This is the 3rd sentence.'
print(really_long_string)

This is the 1st sentence,
This is the 2nd sentence,
This is the 3rd sentence.

# Defining a number

In [163]:
num1 = 5
num2 = 12
print('num1+num2', num1+num2)
print('num1*num2', num1*num2)
print('num1-num2', num1-num2)
print('num1/num2', num1/num2)
print('num1//num2', num1//num2)
print('num1**num2', num1**num2)
print('num2%num1', num2%num1)

num1+num2 17
num1*num2 60
num1-num2 -7
num1/num2 0.4166666666666667
num1//num2 0
num1**num2 244140625
num2%num1 2

In [154]:
num3 = 15
result = (num1+num2)/num3
print(result)

1.0599999999999998

# Find the n's place digit of a number

In [191]:
num = 12345
num_str = str(int(num))
print(f'one\'s place is {num_str[-1]}')

num = 12345.678
num_str = str(int(num))
print(f'one\'s place is {num_str[-1]}')

one's place is 5
one's place is 5

In [235]:
from math import log10

def nthplace(num, nth):
    
    index = int(log10(nth))
    num_str = str(int(num))
    
    return int(num_str[-(index+1)])

In [224]:
tidy_dict = {'one': 1,
             'ten': 10,
             'hundred': 100,
             'thousand': 1000}

for place_str, place in tidy_dict.items():
    print(f'{place_str}\'s place in {num} is {nthplace(num, place)}')

one's place in 12345.678 is 5
ten's place in 12345.678 is 4
hundred's place in 12345.678 is 3
thousand's place in 12345.678 is 2

In [223]:
f'{nthplace(num, 10)}'

'4'

In [196]:
num = 12345.678
print(f'Thousand\'s place of {num} is {nthplace(num, 1000)}')

Thousand's place of 12345.678 is 5

# Of numbers and string

In [158]:
age = 25
name = 'Abhishek'
message = 'Happy '+ age + 'th birthday '+ name + "!"

TypeError: must be str, not int

In [160]:
age = 25
message = f"Happy {age}th birthday {name}!"
print(message)

Happy 25th birthday Abhishek!

In [162]:
age = 25
name = 'Abhishek'
message = "Happy {0}th birthday {1}!".format(age, name)
print(message)

Happy 25th birthday Abhishek!

# Tidy dict for ending digit suffix

In [227]:
def digit_suffix(n):
    
    tidy_dict = {1: 'st',
                 2: 'nd',
                 3: 'rd',
                }
    for end_digit in range(4, 11):
        tidy_dict[end_digit] = 'th'
    
    return tidy_dict[n]

# Tidy dict for converting digit to word

In [247]:
tidy_dict = {0: 'zero',
             1: 'one',
             2: 'two',
             3: 'three',
             4: 'four',
             5: 'five',
             6: 'six',
             7: 'seven',
             8: 'eight',
             9: 'nine',
             10: 'ten',
             11: 'eleven',
             12: 'twelve',
             13: 'thirteen',
             14: 'fourteen',
             15: 'fifteen',
             16: 'sixteen',
             17: 'seven',
             18: 'eighteen',
             19: 'nineteen',
             20: 'twenty',
             30: 'thirty',
             40: 'fourty',
             50: 'fifty',
             60: 'sixty',
             70: 'seventy',
             80: 'eighty',
             90: 'ninety',
             100: 'hundred'}

In [254]:

for num in range(0, 101):
    
    if num in tidy_dict.keys():
        print(tidy_dict[num])
    
    elif 20 < num < 100 and num not in range(30, 100, 10):
        
        key_10 = tidy_dict[nthplace(num, 10)*10]
        key_1 = tidy_dict[nthplace(num, 1)]
        output = f"{key_10} {key_1}"
        print(output)
    
    elif 100 >= num > 1000:
        if num%100 == 0:
            pass
        else:
            pass

zero
one
two
three
four
five
six
seven
eight
nine
ten
eleven
twelve
thirteen
fourteen
fifteen
sixteen
seven
eighteen
nineteen
twenty
twenty one
twenty two
twenty three
twenty four
twenty five
twenty six
twenty seven
twenty eight
twenty nine
thirty
thirty one
thirty two
thirty three
thirty four
thirty five
thirty six
thirty seven
thirty eight
thirty nine
fourty
fourty one
fourty two
fourty three
fourty four
fourty five
fourty six
fourty seven
fourty eight
fourty nine
fifty
fifty one
fifty two
fifty three
fifty four
fifty five
fifty six
fifty seven
fifty eight
fifty nine
sixty
sixty one
sixty two
sixty three
sixty four
sixty five
sixty six
sixty seven
sixty eight
sixty nine
seventy
seventy one
seventy two
seventy three
seventy four
seventy five
seventy six
seventy seven
seventy eight
seventy nine
eighty
eighty one
eighty two
eighty three
eighty four
eighty five
eighty six
eighty seven
eighty eight
eighty nine
ninety
ninety one
ninety two
ninety three
ninety four
ninety five
ninety six
ninety seven
ninety eight
ninety nine
hundred

55

# Given a number attach a suffix for the end digit

In [229]:
num = 12345
n = nthplace(num, 1)
print(f'{num}{digit_suffix(n)}')

12345th

# Convert a number into a word

In [240]:
i = 0
while i>=0:
    pos = 10**i
    try:
        print(nthplace(num, pos))
        i+=1
    except IndexError:
        break

5
4
3
2
1

# Difference between python2 and python3 integers

In [348]:
import tempfile

text = 'from __future__ import print_function\n'\
       'num1 = 9\n'\
       'num2 = 5\n'\
       'print("num2/num1 is", num2/num1)\n'\
       'print("num2//num1 is", num2//num1)\n'\

tmp = tempfile.NamedTemporaryFile()

with open(tmp.name, 'w') as f:
    f.write(text)

In [349]:
!cat {tmp.name}

from __future__ import print_function
num1 = 9
num2 = 5
print("num2/num1 is", num2/num1)
print("num2//num1 is", num2//num1)

In [350]:
!python2 {tmp.name}

num2/num1 is 0
num2//num1 is 0

In [351]:
!python3 {tmp.name}

num2/num1 is 0.5555555555555556
num2//num1 is 0

# The Zen of python

In [352]:
import this

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!