In [1]:
## Just practice!
msg = "This is a string {}".format('text')

In [12]:
err = 123
"The error number is %x" % err

'The error number is 7b'

In [14]:
name = "Abhi"
err = 1234
"Hey, %s there is a 0x%x error!" % (name, err)

'Hey, Abhi there is a 0x4d2 error!'

In [15]:
"Hey, %(name)s, there is a 0x%(error)x error!" % {
    "name": name, "error": err}

'Hey, Abhi, there is a 0x4d2 error!'

In [28]:
"Hey {name}, there is a 0x{error:x} error!".format(name=name, error=err)

'Hey Abhi, there is a 0x4d2 error!'

In [32]:
f"Hey {name}, there is a 0x{err:x}"

'Hey Abhi, there is a 0x4d2'

In [19]:
age=1
f"Age={age}"

'Age=1'

In [24]:
def greet(name, question):
    return "Hello " + name + ". "+ question

In [25]:
greet("Abhi", "How's work?")

"Hello Abhi. How's work?"

In [26]:
import dis

In [27]:
dis.dis(greet)

  2           0 LOAD_CONST               1 ('Hello ')
              2 LOAD_FAST                0 (name)
              4 BINARY_ADD
              6 LOAD_CONST               2 ('. ')
              8 BINARY_ADD
             10 LOAD_FAST                1 (question)
             12 BINARY_ADD
             14 RETURN_VALUE

In [42]:
f"{'Abhi is practicing'}. He\'s"

"Abhi is practicing. He's"

In [44]:
name = "Abhi"
age = 25
f"The \"comedian\" is {name}, aged {age}."

'The "comedian" is Abhi, aged 25.'

In [48]:
comedian = {"name": "Abhi", "age": 25}

f"The \"comedian\" is {comedian['name']}, aged {comedian['age']}"

'The "comedian" is Abhi, aged 25'

In [47]:
f"The \"comedian\" is {comedian["name"]}, aged {comedian['age']}"

SyntaxError: invalid syntax (<ipython-input-47-2ed80423d5dc>, line 1)

In [51]:
f"{{25}}"

'{25}'

In [56]:
f"{{{25}}}"

'{25}'

In [57]:
f"{{{{25}}}}"

'{{25}}'

In [55]:
"{}".format("{"+str(age)+"}")

'{25}'

In [59]:
f"Abhi is {20+5 #age}"

SyntaxError: f-string expression part cannot include '#' (<ipython-input-59-eeecdd90a3c4>, line 1)

In [61]:
##Template strings 

from string import Template

t = Template('Hey, $name')

In [63]:
t.substitute(name=name)

'Hey, Abhi'

In [68]:
t = Template("Hey, $name. There is a $error error!")
t.substitute(name=name, error=hex(err))

'Hey, Abhi. There is a 0x4d2 error!'

In [83]:
SECRET  = 'this-is-a-secret'

class Error:
    def __init__(self):
        pass
    
user_input = "{error.__init__.__globals__[SECRET]}" ## How does this take SECRET as a string?

err = Error()
user_input.format(error=err)

'this-is-a-secret'

In [80]:
err.__init__.__globals__[SECRET]

KeyError: 'this-is-a-secret'

In [75]:
user_input = '${error.__init__.__globals__[SECRET]}'
Template(user_input).substitute(error=err)

ValueError: Invalid placeholder in string: line 1, col 1

In [90]:
str1 = 'string1'
str2 = 'string2'

print(str1, str2, sep='\n', end='\t')
print('hey', end='\n'*2)

print('Languages:','Python','Javascript', 'R', sep='\n\t')

string1
string2	hey

Languages:
	Python
	Javascript
	R

In [91]:
from functools import partial

myprint = partial(print, sep='\n', end='\n'*2)

In [92]:
print("Run 1", "sentence 1")
print("Run 2", "sentence 2")

Run 1 sentence 1

In [94]:
myprint("Run1", "sentence 1")
myprint("Run2", "sentence 2")

Run1
sentence 1

Run2
sentence 2

In [96]:
greet_joey = partial(greet, question="How you doin?")

In [97]:
greet_joey("Abhi")

'Hello Abhi. How you doin?'

In [98]:
mystr = 'abcd'
mystr[::-1]

'dcba'

In [100]:
mystr[0::1]

'abcd'

In [101]:
mystr[1::1]

'bcd'

In [105]:
import string
mystr = string.ascii_lowercase

In [106]:
mystr[::2]

'acegikmoqsuwy'

In [108]:
mylst = list(mystr)

In [109]:
mylst[::2]

['a', 'c', 'e', 'g', 'i', 'k', 'm', 'o', 'q', 's', 'u', 'w', 'y']

In [111]:
mystr.startswith('a')

True

In [112]:
mystr.endswith('z')

True

In [114]:
mystr = 'A    B   C'
mystr.replace(' ', '')

'ABC'

In [116]:
string1 = 'the same string'
string2 = 'the same string'

In [117]:
string1 == string2

True

In [118]:
string1 is string2

False

In [125]:
print('\\t is tab character and \\n is a newline.')

\t is tab character and \n is a newline.

In [130]:
really_long_string = '''This is the 1st sentence. 
This is the 2nd sentence. 
This is the 3rd sentence.'''

print(really_long_string)

This is the 1st sentence.
This is the 2nd sentence.
This is the 3rd sentence.

In [131]:
t = Template("This is sentence $num.")

In [134]:
really_long_string = ' '.join([t.substitute(num=num) for num in range(1, 4)])

print(really_long_string)

This is sentence 1. This is sentence 2. This is sentence 3.

In [143]:
really_long_string =  "This is sentence 1. "\
                      "This is sentence 2. "\
                      "This is sentence 3. "
print(really_long_string)

This is sentence 1. This is sentence 2. This is sentence 3.

In [138]:
really_long_string = (
    'This is sentence 1. '
    'This is sentence 2. '
    'This is sentence 3.')

print(really_long_string)

This is sentence 1. This is sentence 2. This is sentence 3.

In [144]:
really_long_string = '''This is the 1st sentence. 
                        This is the 2nd sentence. 
                        This is the 3rd sentence.'''

print(really_long_string)

This is the 1st sentence.
                        This is the 2nd sentence.
                        This is the 3rd sentence.

In [147]:
really_long_string = ['This is sentence 1.',
                     'This is sentence 2.',
                     'This is sentence 3.']

print(*really_long_string, sep=' ')

This is sentence 1. This is sentence 2. This is sentence 3.

In [148]:
print(' '.join(really_long_string))

This is sentence 1. This is sentence 2. This is sentence 3.

In [149]:
from math import log10

def nthplace(num, nth):
    index = int(log10(nth))
    num_str = str(int(num))
    
    return int(num_str[-(index+1)])

In [156]:
nthplace(12345.890, 10**4)

1

In [158]:
num = 12345.890
f"{nthplace(num, 100)}"

'3'

In [172]:
str(int(num))[-2:]

'45'

In [176]:
def suffix(num):
    suffix_dict = dict.fromkeys(range(21), 'th')
    suffix_dict.update(dict(zip([1, 2, 3], ['st', 'nd', 'rd'])))
    
    last2 = int(str(int(num))[-2:])
    if last2 < 21:
        return suffix_dict[last2]
    
    else:
        last1 = int(str(int(num))[-1])
        return suffix_dict[last1]

In [181]:
import tempfile

text = ['from futu']

In [187]:
!touch /tmp/temp_script.py

In [193]:
%%writefile /tmp/temp_script.py

from __future__ import print_function
num1 = 9
num2 = 5
print('num1/num2 is', num1/num2)
print('num1//num2 is', num1//num2)

Overwriting /tmp/temp_script.py

In [196]:
!python3 /tmp/temp_script.py

num1/num2 is 1.8
num1//num2 is 1

In [197]:
!python2 /tmp/temp_script.py

num1/num2 is 1
num1//num2 is 1

In [198]:
import this

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!

In [200]:
numbers = list(range(1, 21))
numbers

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [201]:
numbers[::2]

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [202]:
numbers[::-1]

[20, 19, 18, 17, 16, 15, 14, 13, 12, 11, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [203]:
numbers[:5:-1]

[20, 19, 18, 17, 16, 15, 14, 13, 12, 11, 10, 9, 8, 7]

In [204]:
numbers[0:5][::-1]

[5, 4, 3, 2, 1]

In [207]:
lst1 = [1, 2, 3, 4]
lst2 = [5, 6, 7, 8]

comb_lst = list(zip(lst1, lst2))

[e1*e2 for e1, e2 in comb_lst]

[5, 12, 21, 32]

In [208]:
[0]*10

[0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

In [209]:
def get_pos(lst: list, item):
    pass

In [210]:
lst = [1, 1, 2, 3, 1, 5]

In [212]:
from functools import reduce

In [216]:
list(map(lambda x: 'replaced' if x == 1 else x, lst))

['replaced', 'replaced', 2, 3, 'replaced', 5]

In [217]:
def append_item(item, lst, copy=False):
    if copy:
        lst = lst.copy()
        
    lst.append(item)
    return lst

In [218]:
append_item('appended', lst)

[1, 1, 2, 3, 1, 5, 'appended']

In [219]:
lst

[1, 1, 2, 3, 1, 5, 'appended']

In [220]:
lst = [1, 1, 2, 3, 1, 5]

In [222]:
append_item('appended', lst, copy=True)

[1, 1, 2, 3, 1, 5, 'appended']

In [223]:
lst

[1, 1, 2, 3, 1, 5]

In [232]:
def change_val(input_dict: dict, update_dict: dict, copy=False):
    if copy:
        input_dict = input_dict.copy()
        
    input_dict.update(update_dict)
    
    return input_dict

In [229]:
my_dict = {'k1': 'v1',
          'k2': 'v2'}
update_dict = {'k1': 'v1_new'}

In [233]:
change_val(my_dict, update_dict, copy=True)

{'k1': 'v1_new', 'k2': 'v2'}

In [234]:
my_dict

{'k1': 'v1', 'k2': 'v2'}

In [239]:
lst = [1, 1, 2, 3, 1, 5]
lst.remove(1)
lst

[1, 2, 3, 1, 5]

In [240]:
lst = [1, 1, 2, 3, 1, 5]
list(filter(lambda x: x != 1, lst))

[2, 3, 5]

In [251]:
def get_pos(lst: list):
    
    pos_dict = dict()
    
    for index, item in enumerate(lst):
        if item not in pos_dict.keys():
            pos_dict[item] = list()
            
        pos_dict[item].append(index)
        
    return pos_dict

In [245]:
lst

[1, 1, 2, 3, 1, 5]

In [252]:
get_pos(lst)

{1: [0, 1, 4], 2: [2], 3: [3], 5: [5]}

In [262]:
import random

def gen_rand_lst(lst: list, min_count=0, max_count=1000):
    
    uniq = set(lst)
    rand_lst = list()
    
    for item in uniq:
        count = random.choice(range(min_count, max_count+1))
        rand_lst += [item]*count
    
    random.shuffle(rand_lst)
    return rand_lst

In [279]:
gen_rand_lst(['a', 'b', 'c'], 0, 5)

['b', 'b', 'a', 'a', 'a', 'c', 'a', 'a', 'b', 'b']

In [281]:
guests = ['g'+str(i) for i in range(5)]

In [282]:
guests

['g0', 'g1', 'g2', 'g3', 'g4']

In [283]:
def get_guid(guests):
    return list(map(lambda x: int(x.replace('g', '')), guests))

In [284]:
get_guid(guests)

[0, 1, 2, 3, 4]

In [304]:
def sortby(lst1, lst2):
    return [x for _,x in sorted(zip(lst2, lst1))]

def sorted_guests(guests):
    return sortby(guests, get_guid(guests))

In [287]:
random.shuffle(guests)

In [288]:
guests

['g0', 'g4', 'g2', 'g3', 'g1']

In [356]:
sortby(guests, get_guid(guests))

['g0', 'g1', 'g2', 'g3', 'g4']

In [382]:
guests = ['g'+str(i) for i in range(5)]
dead_guests = sorted_guests(random.sample(guests, 2))
new_guests = {d: 'g'+str(i) for d, i in 
              zip(dead_guests, 
                  range(5, 5+len(dead_guests), 1))}

{'g3': 'g5', 'g4': 'g6'}

In [392]:
def invite(guest, coming=True, new_guest=None):
    if coming:
        return f'{guest} is invited.'
    
    else:
        return f'{new_guest} is invited in place of {guest}'

In [409]:
func = lambda guest: invite(guest) if guest not in dead_guests \
                                   else invite(guest, coming=False, 
                                               new_guest=new_guests[guest])

In [410]:
func('g3')

'g5 is invited in place of g3'

In [414]:
print(*list(map(func, guests)), sep='\n')

g0 is invited.
g1 is invited.
g2 is invited.
g5 is invited in place of g3
g6 is invited in place of g4

In [394]:
for guest in guests:
    if guest not in dead_guests:
        print(invite(guest))
    else:
        print(invite(guest, coming=False, new_guest=new_guests[guest]))

g0 is invited.
g1 is invited.
g2 is invited.
g5 is invited in place of g3
g6 is invited in place of g4

In [418]:
['one' if item == 1 else 'two' if item == 2 else item for item in lst]

['one', 'one', 'two', 3, 'one', 5]

In [431]:
my_string  = '1 1 2 3 5 5'
my_string

'1 1 2 3 5 5'

In [432]:
my_string.replace('1', '2').replace('2', '1')

'1 1 1 3 5 5'

In [433]:
''.join(list(map(lambda x: '2' if x == '1' else '1' if x == '2' else x, list(my_string))))

'2 2 1 3 5 5'

In [435]:
replace_dict = {'1': '2', '2': '1'}

In [437]:
''.join(list(map(lambda x: replace_dict[x] if x in replace_dict.keys() 
                 else  x,
                 list(my_string))))

'2 2 1 3 5 5'

In [438]:
def replace(input_str: str, replace_dict: dict):
    
    return ''.join(list(map(lambda x: replace_dict[x] if x in replace_dict.keys() 
                            else x,
                           list(input_str))))

In [439]:
replace('1 1 1 2 3 4 5', {'1': '4', '4': '2'})

'4 4 4 2 3 2 5'

In [440]:
sentence = 'This is a sentence'

' '.join(sorted(sentence.split(' ')))

'This a is sentence'

In [442]:
sentence = 'To save the cell content back into a file add the '+\
           'cell-magic %%writefile filename.py at the beginning of '+\
           'the cell and run it. Beware that if a file with the same'+\
           'name already exists it will be silently overwritten.'

In [445]:
mapping = get_pos(sentence.split(' '))

In [454]:
indices = []
for item in mapping.values():
    indices += item
    
sentence_len = max(indices)

In [476]:
sen = [None]*(sentence_len+1)

for word, indices in mapping.items():
    
    for i in indices:
        sen[i] = word

sen = ' '.join(sen)

In [477]:
sen

'To save the cell content back into a file add the cell-magic %%writefile filename.py at the beginning of the cell and run it. Beware that if a file with the samename already exists it will be silently overwritten.'

In [513]:
def id_gen(size=6, chars=string.ascii_letters+string.digits, repeated=True):
    if repeated:
        getchars = random.choices
    else:
        getchars = random.sample
        
    return ''.join(getchars(chars, k=size))